<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.happy.ishare.wechat">

    <queries>
        <package android:name="com.tencent.mm" />
    </queries>

    <application>
        <meta-data
            android:name="WECHAT_APPID"
            android:value="${WECHAT_APPID}" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="${applicationId}"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity-alias
            android:name="${applicationId}.wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:targetActivity=".wxapi.WXEntryActivity"
            android:taskAffinity="${applicationId}" />
    </application>
</manifest>
